<config>
	<!-- Maksymalny poziom zagnieżdzenia katalogów pobieranych -->
	<MaxSubLevel>5</MaxSubLevel>
	<!-- Maksymalny rozmiar plików przesyłanych przez GET/PUT -->
	<MaxFileSize>100000</MaxFileSize>
	<!-- Adres serwera FTP -->
	<FTPServer>localhost</FTPServer>
	<!-- Nazwa użytkownika -->
	<FTPUser>maciek</FTPUser>
	<!-- Hasło -->
	<FTPPassword>mac21</FTPPassword>
	<!-- Katalog na FTP -->
	<FTPDirectory>pliki</FTPDirectory>
</config>
