body
{
   margin-top: 0px;
   font-size: 10pt;
   margin-bottom: 0px;
   font-family: Verdana, Tahoma, Arial;
   scrollbar-3dlight-color:;
   scrollbar-arrow-color:;
   scrollbar-base-color: ivory;
   scrollbar-darkshadow-color:;
   scrollbar-face-color:;
   scrollbar-highlight-color: ivory;
   scrollbar-shadow-color:;
   scrollWidth: 10;
}

.CSS_Control
{
   border-right: #1E569F 1px solid;
   padding-right: 2px;
   padding-left: 2px;
   font-size: 10pt;
   background: #CFE7FF;
   padding-bottom: 2px;
   border-left: #1E569F 1px solid;
   color: #1E569F;
   padding-top: 2px;
   border-bottom: #1E569F 1px solid;
}
.CSS_ControlIframe
{
   padding-right: 2px;
   padding-left: 2px;
   font-size: 10pt;
   padding-bottom: 2px;
   color: #1E569F;
   padding-top: 2px;
}
.CSS_ControlIframeCtrl
{
   border-right: lightgrey 1px solid;
   padding-right: 2px;
   border-top: lightgrey 1px solid;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   border-left: lightgrey 1px solid;
   color: #1E569F;
   border-bottom: lightgrey 1px solid;
}
.CSS_PageHeader_Client
{
   font-family: Tahoma;
   font-weight: bold;
   font-size: 17pt;
   color: #1E569F;
}
.CSS_PageHeader_App
{
   font-weight: bold;
   font-size: 18pt;
   color: #B3BCC9;
   font-family: Tahoma;
   background-color: #1E569F;
   border: #10315D 1px solid;
}
.CSS_PageHeader
{
   border-right: #336633 1px solid;
   padding-right: 5px;
   border-top: #336633 1px solid;
   padding-left: 5px;
   padding-bottom: 2px;
   border-left: #336633 1px solid;
   color: #1E569F;
   padding-top: 2px;
   border-bottom: #336633 1px solid;
   background-color: lightsteelblue;
}
.CSS_Page
{
   border: #006699 1px solid;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 3px;
   padding-top: 10px;
   background-color: #99CCFF;
}
.CSS_Button
{
   padding-right: 4px;
   font-family: Verdana, Arial;
   font-size: 10px;
   padding-bottom: 4px;
   width: 133px;
   padding-left: 4px;
   padding-top: 4px;
   height: 20px;
   border: 0px;
   background-image: url(../Images/button_bg.gif);  
}
.CSS_ButtonSmall
{
   padding-right: 4px;
   font-family: Verdana, Arial;
   font-size: 10px;
   padding-bottom: 4px;
   width: 65px;
   padding-left: 4px;
   padding-top: 4px;
   height: 20px;
   border: 0px;
   background-image: url(../Images/small_button_bg.gif);
}
.CSS_ButtonWide
{
   padding-right: 4px;
   font-family: Verdana, Arial;
   font-size: 10px;
   padding-bottom: 4px;
   width: 200px;
   padding-left: 4px;
   padding-top: 4px;
   height: 20px;
   border: 0px;
   background-image: url(../Images/wide_button_bg.gif);
}
.CSS_ButtonSquare
{   
   font-family: Verdana, Arial;
   font-size: 10px;
   width: 12px;
   height: 18px;
   border: 1px solid #000000;   
   background-color: #FFCC00;
   cursor: hand;   
}
.CSS_Label
{
   padding-right: 5px;
   padding-left: 10px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   vertical-align: middle;
   color: #1E569F;
   padding-top: 2px;
   border: #81B2E3 1px solid;
   background-color: #EDF6FF;

}
.CSS_LabelRight
{
   padding-right: 5px;
   padding-left: 10px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   vertical-align: middle;
   text-align: right;
   color: #1E569F;
   padding-top: 2px;
   border: #81B2E3 1px solid;
   background-color: #EDF6FF;
}
.CSS_LabelReq
{
   padding-right: 5px;
   padding-left: 10px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   vertical-align: middle;      
   padding-top: 2px;
   border: #81B2E3 1px solid;
   background-color: #EDF6FF;
   color: #B16800;
}
.CSS_LabelReqRight
{
	padding-right: 5px;
   padding-left: 10px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   vertical-align: middle;   
   text-align: right;   
   padding-top: 2px;
   border: #81B2E3 1px solid;
   background-color: #EDF6FF;   
   color: indianred;
}
.CSS_TextBox
{
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   border-left: medium none;
   width: 100%;
   color: #1E569F;
   padding-top: 2px;
   border: 1px solid #B3BCC9;
   border-bottom: 1px dashed #B3BCC9;
   letter-spacing: 0.4pt;
   background-color: #ffffff;
}
.CSS_DropDown
{
   border-right: dimgray 1pt solid;
   padding-right: 2px;
   border-top: dimgray 1pt solid;
   padding-left: 2px;
   font-weight: bold;
   font-size: 11px;
   padding-bottom: 2px;
   border-left: dimgray 1pt solid;
   width: 100%;
   color: #1E569F;
   padding-top: 2px;
   border-bottom: dimgray 1pt solid;
   letter-spacing: 0.4pt;
   background-color: #ffffff;
   border: 1px #000000 solid;
   border-collapse: separate;
}
.CSS_TextReq
{
   font-weight: bold;
   height: 24px;
   font-size: 10px;
   padding: 2px; 
   color: #1E569F;
   border: #81B2E3 1px solid;   
   background-color: #FDE2BC;
}
.CSS_TextReqMissing
{
   border: indianred 2px solid;
   padding-right: 1px;
   padding-left: 1px;
   padding-bottom: 1px;
   padding-top: 1px;
   background-color: #ffffff;
   color: indianred;
   font-weight: bold;
   font-size: 9pt;
}
.CSS_Title
{
   border: #1E569F 1px solid;
   padding-right: 5px;   
   padding-left: 5px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 4px;  
   color: #ffffff;
   padding-top: 4px;   
   background-color: #007ACC;
}
.CSS_Text
{
   font-weight: bold;
   height: 24px;
   font-size: 10px;
   padding: 2px; 
   color: #1E569F;
   border: #81B2E3 1px solid;
   background-color: #FEFEDF;
}
.CSS_Error
{
   border-right: #336633 1px solid;
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   border-left: #336633 1px solid;
   width: 100%;
   color: red;
   padding-top: 2px;
   background-color: #FFC4C4;
   text-align: center;
}
.CSS_Info
{
   border-right: #336633 1px solid;
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 3px;
   border-left: #336633 1px solid;
   width: 100%;
   color: #FFFFFF;
   padding-top: 3px;
   background-color: #4BDC52;
   text-align: center;
}
.CSS_Warning
{
   border-right: #336633 1px solid;
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   border-left: #336633 1px solid;
   width: 100%;
   color: yellow;
   padding-top: 2px;
   background-color: #B3BCC9;
   text-align: center;
}
.CSS_PageFooter
{
   border-right: #336633 1px solid;
   padding-right: 5px;
   padding-left: 5px;
   font-size: 8pt;
   padding-bottom: 2px;
   border-left: #336633 1px solid;
   color: white;
   padding-top: 2px;
   border-bottom: #006699 1px solid;
   background-color: #007ACC;
}
.CSS_SortListHeader
{
   border-right: darkkhaki 1px solid;
   padding-right: 4px;
   border-top: darkkhaki 1px solid;
   padding-left: 4px;
   font-weight: normal;
   font-size: 8pt;
   padding-bottom: 2px;
   border-left: darkkhaki 1px solid;
   width: 100%;
   color: #1E569F;
   padding-top: 2px;
   border-bottom: darkkhaki 1px solid;
   height: 10pt;
   background-color: lightsteelblue;
   text-decoration: none;
}
.CSS_SortListHeaderSel
{
   border-right: silver 1px;
   padding-right: 4px;
   border-top: silver 1px;
   padding-left: 4px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 2px;
   border-left: silver 1px;
   width: 100%;
   color: #1E569F;
   padding-top: 2px;
   border-bottom: silver 1px;
   height: 10pt;
   background-color: lightsteelblue;
   text-decoration: none;
}
.CSS_SortListList
{
   border-right: dimgray 1pt solid;
   padding-right: 2px;
   border-top: dimgray 1pt solid;
   padding-left: 2px;
   padding-bottom: 2px;
   border-left: dimgray 1pt solid;
   padding-top: 2px;
   border-bottom: dimgray 1pt solid;
   width: 100%;
   background-color: #FFFFFF;
   font-size: 10pt;
   letter-spacing: 0.4pt;
   color: #1E569F;
   font-family: 'Courier New CE', Monospace;
}
.CSS_SortListFooter
{
   border-right: darkgray 1px solid;
   border-top: darkgray 1px solid;
   font-weight: bold;
   font-size: 10pt;
   border-left: darkgray 1px solid;
   color: crimson;
   border-bottom: darkgray 1px solid;
   background-color: oldlace;
   text-decoration: none;
}
.CSS_SortListPages
{
   font-weight: bold;
   font-size: 10pt;
   color: #003399;
   text-decoration: none;
}
.CSS_SortListPages:hover
{
   color: steelblue;
   text-decoration: underline;
}
.CSS_MenuMain
{
   background-color: #1E569F;
}
.CSS_Menu
{
   color: white;
   background-color: #F0DDAA;   
}
.CSS_MenuAct
{
   padding-right: 7px;
   padding-left: 7px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 2px;
   width: 100%;
   cursor: default;
   color: #1E569F;
   padding-top: 2px;   
   letter-spacing: 1px;
   height: 14px;
   background-color: #F0DDAA;
   text-align: center;
   text-decoration: none;
   border: 0px;
}
.CSS_MenuAct:hover
{
   padding-right: 7px;
   padding-left: 7px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 2px;
   width: 100%;
   cursor: default;
   color: #1E569F;
   padding-top: 2px;
   letter-spacing: 1px;
   height: 14px;
   background-color: lightsteelblue;
   text-align: center;
   text-decoration: none;
}
.CSS_MenuEmpty
{
   border-right: #1E569F 1px solid;
   border-top: #1E569F 1px solid;
   font-weight: bold;
   font-size: 8pt;
   border-left: #1E569F 1px solid;
   border-bottom: #1E569F 1px solid;
}
.CSS_MenuHighlight
{
   padding-right: 7px;
   padding-left: 7px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 2px;
   width: 100%;
   cursor: default;
   color: #1E569F;
   padding-top: 2px;   
   letter-spacing: 1px;
   height: 14px;
   background-color: #B0C4DE;
   text-align: center;
   text-decoration: none;
   border: 0px;   
}
.CSS_Submenu
{
   border-right: #1E569F 1px solid;
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 4px;
   border-left: #1E569F 1px solid;
   width: 100%;
   cursor: hand;
   color: #333366;
   padding-top: 4px;
   background-color: lightsteelblue;
   text-decoration: none;
}
.CSS_Submenu:hover
{
   border-right: #1E569F 1px solid;
   border-left: #1E569F 1px solid;
   cursor: hand;
   color: ivory;
   background-color: #1E569F;
}
.CSS_SubmenuDis
{
   border-right: #1E569F 1px solid;
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 4px;
   border-left: #1E569F 1px solid;
   width: 100%;
   cursor: default;
   color: dimgray;
   padding-top: 4px;
   background-color: lightsteelblue;
}
.CSS_SubmenuSep
{
   border-right: #1E569F 1px solid;
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 4px;
   border-left: #1E569F 1px solid;
   width: 100%;
   cursor: hand;
   color: #333366;
   padding-top: 4px;
   border-bottom: #1E569F 1px solid;
   background-color: lightsteelblue;
   text-decoration: none;
}
.CSS_SubmenuSep:hover
{
   cursor: hand;
   color: ivory;
   background-color: #1E569F;
}
.CSS_SubmenuSepDis
{
   border-right: #1E569F 1px solid;
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 4px;
   border-left: #1E569F 1px solid;
   width: 100%;
   cursor: default;
   color: dimgray;
   padding-top: 4px;
   border-bottom: #1E569F 1px solid;
   background-color: lightsteelblue;
}
.CSS_MenuNotact
{
   border-right: #1E569F 1px solid;
   padding-right: 3px;
   border-top: #1E569F 1px solid;
   padding-left: 3px;
   font-weight: bold;
   font-size: 8pt;
   padding-bottom: 2px;
   border-left: #1E569F 1px solid;
   width: 100%;
   cursor: default;
   color: darkgray;
   padding-top: 2px;
   border-bottom: #1E569F 1px solid;
   letter-spacing: 1pt;
   height: 14px;
   background-color: #1E569F;
   text-align: center;
   text-decoration: none;   
}
.CSS_ActiveTab
{
   padding-right: 2px;
   border-right: lightgrey 1px solid;
   border-top: lightgrey 1px solid;
   border-left: lightgrey 1px solid;
   border-bottom: #1E569F 1px solid;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   width: 100%;
   color: ivory;
   padding-top: 2px;
   background-color: #1E569F;
   text-align: center;
   text-decoration: none;
}
.CSS_InActiveTab
{
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   width: 100%;
   color: #333366;
   padding-top: 2px;
   border-bottom: lightgrey 1px solid;
   text-align: center;
   text-decoration: none;
}
.CSS_InActiveTab:hover
{
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   width: 100%;
   color: ivory;
   padding-top: 2px;
   background-color: #1E569F;
   text-align: center;
   text-decoration: none;
   border-right: lightgrey 1px solid;
   border-top: lightgrey 1px solid;
   border-left: lightgrey 1px solid;
   border-bottom: #1E569F 1px solid;
}
.CSS_EmptyTab
{
   padding-right: 2px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 2px;
   color: #333366;
   padding-top: 2px;
   text-align: center;
   text-decoration: none;
   border-bottom: lightgrey 1px solid;
}
.CSS_PropertySheet
{
   border-right: lightgrey 1px solid;
   border-left: lightgrey 1px solid;
   border-bottom: lightgrey 1px solid;
}
.CSS_Checkbox
{
   padding-right: 2px;
   padding-left: 2px;
   padding-bottom: 2px;
   padding-top: 2px;
   width: 100%;
   font-weight: bold;
   font-size: 9pt;
   color: #003300   
}
.PageFooter_Text
{
   color: white;
   font-size: 8pt;
}

.CSS_ListHeader
{
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 12px;
   color: #ffffff;
   line-height: 18px;
   font-family: Verdana;
   background-color: sandybrown;
}

.CSS_TitleRight
{   
   padding-right: 5px; 
   padding-left: 5px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 4px;
   color: #ffffff;
   padding-top: 4px;
   border: #1E569F 1px solid;
   background-color: #007ACC;
   text-align: right;
}
.CSS_ControlSection
{
   border-right: tan 1px solid;
   padding-right: 2px;
   border-top: tan 1px solid;
   padding-left: 5px;
   font-weight: bold;
   font-size: 9pt;
   padding-bottom: 3px;
   vertical-align: middle;
   border-left: tan 1px solid;
   color: black;
   padding-top: 3px;
   border-bottom: tan 1px solid;
   background-color: blanchedalmond;
   text-align: left;
}

.CSS_ClientTabRadio
{
}
.CSS_ClientTabRadioSel
{
}
.CSS_FastNavList
{
   border-right: dimgray 1pt solid;
   padding-right: 2px;
   border-top: dimgray 1pt solid;
   padding-left: 2px;
   padding-bottom: 2px;
   border-left: dimgray 1pt solid;
   padding-top: 2px;
   border-bottom: dimgray 1pt solid;
   background-color: #FFFFFF;
   font-weight: bold;
   font-size: 9pt;
   letter-spacing: 0.4pt;
   color: #003300;   
}
.CSS_ClientTab
{
   padding-right: 5px;
   padding-left: 2px;
   font-weight: bold;
   font-size: 12px;
   padding-bottom: 2px;
   vertical-align: middle;
   color: dimgray;
   padding-top: 2px;
   background-color: #FFF696;
   border: #81B2E3 1px solid;
}  
.CSS_ListRecord
{
   border-right: lightslategray 1pt solid;
   padding-right: 4px;
   border-top: lightslategray 1pt solid;
   padding-left: 4px;
   padding-bottom: 2px;
   border-left: lightslategray 1pt solid;
   padding-top: 2px;
   border-bottom: lightslategray 1pt solid;
}

.CSS_ListRow
{   
   padding-right: 2px;
   padding-left: 2px;
   padding-bottom: 2px;   
   padding-top: 2px;
   border: red 1px solid;
   background-color: #FEFEDF;
   font-size: 9px;
   letter-spacing: 0.4pt;
   color: #3362A6;
   font-family: 'Courier New CE', Monospace;
}
.CSS_ListSelected
{
   border-right: dimgray 1pt solid;
   padding-right: 2px;
   border-top: dimgray 1pt solid;
   padding-left: 2px;
   padding-bottom: 2px;
   border-left: dimgray 1pt solid;
   padding-top: 2px;
   border-bottom: dimgray 1pt solid;
   background-color: #3362A6;
   font-size: 8pt;
   letter-spacing: 0.4pt;
   color: #FFFFFF;
   font-family: 'Courier New CE', Monospace;
}
.CSS_ListFooter 
{
   border-right: darkgray 1px solid;
   border-top: darkgray 1px solid;
   font-weight: bold;
   font-size: 10pt;
   border-left: darkgray 1px solid;
   color: crimson;
   border-bottom: darkgray 1px solid;
   background-color: #FFDE79;
   text-decoration: none;
}
.CSS_ListTable
{
	border: #81B2E3 1px solid;
}
.CSS_ListFooter:hover
{
   color: steelblue;
   text-decoration: underline;
}
.CSS_ListPages
{
   font-weight: bold;
   font-size: 10pt;
   color: #003399;
   text-decoration: none;
}
.CSS_ListPages:hover
{
   color: steelblue;
   text-decoration: underline;
}
A
{
   color: white;
   background-color: transparent;
   text-decoration: none;
}
A:hover
{
   text-decoration: underline;
}
.CSS_hr	
{
	height: 2px;
	color: #99CCFF;	
	border-top: 1px solid #006699;	
}
.CSS_nH	
{
	font-size: 0px;	
}
